@media only screen and (max-width:315px) {
	html {
		font-size: 20%!important;
	}
}
@media only screen(min-width:316px) and (max-width:516px) {
	html {
		font-size: 62.5%!important;
	}
}
@media only screen(min-width:517px) and (max-width:640px) {
	html {
		font-size: 125%!important;
	}
}
@media only screen(min-width:641px) and (max-width:750px) {
	html {
		font-size: 150%!important;
	}
}
@media only screen(min-width:751px) and (max-width:1242px) {
	html {
		font-size: 187.5%!important;
	}
}

.index-head {
	width: 100%;
	padding: 3% 0;
	border: 1px solid;
}
.index-head >a {
	font-size: 2rem;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	border: 1px solid;
	
}
.article {
	margin-bottom: 2%;
}
.article >ul {
	list-style: none;
	width: 100%;
	height: 96%;
}
.article-content {
	width: 100%;
	color: #5b5b5b;
	border-top: 1px solid;
	border-color: #ccc;
}
.article-content:last-child {
	border-bottom: 1px solid;
	border-color: #ccc;
}
.article-inner {
	width: 96%;
	height: 10%;
	margin: 0 2%;
	padding-top: .5%;
	font-size: 1rem;
	border-bottom: 1px solid;	
	border-color: #ccc;
}
.absolute-container {
	position: relative;
	width: 94%;
	padding-top: 15%;
	top: 0;
	left: 3%;
}
.article-img {
	position: absolute;	
	left: 0;
	top: 2%;
	width: 15%;
	height: 96%;
	border: 1px solid;
}
.article-img img {width: 100%;
height: 100%;}
.article-main {
	position: absolute;
	left: 15%;
	top: 0;
	padding-left: 2%;
	letter-spacing: .15rem;
	width: 85%;
	height: 100%;
}
.article-title {
	width: 100%;
	height: 66.7%;
	font-size: 1.6rem;
}
.article-main > p {
	font-size: 1.2rem;
	padding-bottom: 2%;
}